<!doctype html>
<html lang="en" ng-app="LunchCheck">

    <head>
        <title>Lunch Checker</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta charset="utf-8" />
        <script type="text/javascript" src="scripts/angular.js"></script>
        <script type="text/javascript" src="scripts/app.js"></script>
        <link rel="stylesheet" href="styles/bootstrap.min.css">
        <style>
            .message {
                font-size: 1.3em;
                font-weight: bold;
            }
        </style>
    </head>

    <body>
        <div class="container" ng-controller="LunchCheckController">
            <h1>Lunch Checker</h1>

            <div class="form-group">
                <input id="lunch-menu" type="text" placeholder="list comma separated dishes you usually have for lunch" class="form-control" ng-model="meal_input">
            </div>
            <div class="form-group">
                <button class="btn btn-default" ng-click="checkTooMuch()">Check If Too Much</button>
            </div>
            <div class="form-group message">
                <p>{{group_message}}</p>
            </div>
        </div>

    </body>

</html>
